*.userprefs
Samples/Droid/PushwooshSample/obj
Bindings/Android/obj
Bindings/iOS/bin
Bindings/iOS/obj
Bindings/iOS/packages
Bindings/Android/bin
Bindings/Android/packages
Samples/iOS/PushwooshSample/obj
Samples/iOS/PushwooshSample/bin
Samples/iOS/packages
Samples/Forms/PushwooshSample/obj
Samples/Forms/packages
Samples/Forms/PushwooshSample/bin
Samples/Droid/PushwooshSample/bin
Samples/Droid/packages
Samples/Droid/Components
Samples/Forms/Droid/obj
Samples/Forms/iOS/obj
Samples/Forms/iOS/bin
Samples/Forms/Droid/bin
