Android/PushwooshSDK/obj
Android/PushwooshSample/obj
Android/PushwooshSample/bin
Android/PushwooshSDK/bin
Android/Components
Android/packages
PushwooshSDK.userprefs
*.userprefs
iOS/Pushwoosh/bin
iOS/Pushwoosh/obj
iOS/PushwooshSample/bin
iOS/PushwooshSample/obj
Forms/Droid/bin
Forms/Droid/obj
Forms/iOS/bin
Forms/iOS/obj
Forms/PushwooshSample/bin
Forms/packages
Forms/PushwooshSample/obj
iOS/packages
