<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:amazon="http://schemas.amazon.com/apk/res/android" xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.pushwoosh.test.xamarin.app">
	<!-- Location tracking -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<!-- Boot permission for rescheduling local notifications and location tracking -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

	<!-- GCM Part -->
	<permission android:name="com.pushwoosh.test.xamarin.app.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
	<uses-permission android:name="com.pushwoosh.test.xamarin.app.permission.C2D_MESSAGE"/>

	<!-- Amazon Part -->
	<permission android:name="com.pushwoosh.test.xamarin.app.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.pushwoosh.test.xamarin.app.permission.RECEIVE_ADM_MESSAGE" />
	
	<!---<Badges> -->
		<!-- for Samsung -->
		<uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
		<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

		<!--for htc-->
		<uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
		<uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

		<!--for sony-->
		<uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
		<uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>

		<!--for apex-->
		<uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

		<!--for solid-->
		<uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

		<!--for huawei-->
		<uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
		<uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
		<uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>

		<!--for ZUK-->
		<uses-permission android:name="android.permission.READ_APP_BADGE"/>

		<!--for OPPO-->
		<uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
		<uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
	<!-- </Badges> -->

	<!-- GCM requires Android SDK version 2.2 (API level 8) or above. -->
	<!-- The targetSdkVersion is optional, but it's always a good practice
		 to target higher versions. -->
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="18"/>

	<application android:label="Pushwoosh Sample" android:debuggable="true" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Light">
		<meta-data android:name="com.google.android.gms.version" android:value="8487000" />

		<meta-data
			android:name="PW_APPID"
			android:value="4FC89B6D14A655.46488481" />
		<meta-data
			android:name="PW_PROJECT_ID"
			android:value="A60756016005" />

		<!-- GCM Part -->
		<receiver
			android:name="com.google.android.gms.gcm.GcmReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.pushwoosh.test.xamarin.app" />
			</intent-filter>
		</receiver>

		<!-- Amazon part -->
		<receiver
			android:name="com.pushwoosh.MessageAlertReceiver"
			android:permission="com.amazon.device.messaging.permission.SEND">
			<intent-filter>
				<action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
				<action android:name="com.amazon.device.messaging.intent.RECEIVE" />
				<category android:name="com.pushwoosh.test.xamarin.app" />
			</intent-filter>
		</receiver>
	</application>
</manifest>